body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "BentonSans", "Helvetica Neue", sans-serif;
    overflow-x: hidden;
}

/* general start */

.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    background: #d4dfed;
}

.home__wrapper {
    display: flex;
    flex-direction: column;
}

.flex-center-horizontal {
    justify-content: center;
}

.flex-center-vertical {
    align-items: center;
}

.d-flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.btn {
    border: 1px solid blue;
    padding: 10px 20px;
    text-decoration: none;
    background: blue;
    color: black;
    border-radius: 1px;
    margin: 3px;
}

.opacity {
    opacity: 0.8;
}

.opacity:hover {
    opacity: 1;
}

.smooth {
    -webkit-font-smoothing: antialiased;
}

.alert {
    height: 30px;
    margin-bottom: 15px;
}
 
/* spinner credit: https://loading.io/css/ */
.alert #spinner {
    display: none;
    color: official;
    /* display: inline-block; */
    position: relative;
    width: 64px;
    height: 64px;
}

#spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

#spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: #fff;
}

#spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

#spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

#spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

#spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

#spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

#spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

#spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

#spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

#spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

#spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

#spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

#spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.alert #error {
    display: none;
    color: red;
}

.alert #success {
    display: none;
    color: greenyellow;
}

/* navigation start */

.navbar {
    width: 100% !important;
    position: fixed;
    top: 0px;
    background-color: #092467;
    margin: 0;
    padding: 0;
    height: 65px;
    overflow: hidden;
    color: white;
}

.navbar .btn-icon {
    background-color: #092467;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-left: 9px;
    padding-top: 6px;
    display: block;
}

.navbar .btn-icon:hover {
    background-color: black;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.front-navbar {
    top: 0;
    background-color: #092467;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.front-main-nav {
    list-style-type: none;
    display: none;
    padding-left: 0;
}

.nav-link, .logo {
    text-decoration: none;
    color: aliceblue;
    line-height: 24px;
    padding-left: 20px;
}

.nav-link:hover, .logo:hover {
    color: aliceblue !important;
}

.front-main-nav li {
    text-align: center;
    margin: 15px auto;
}

.front-main-nav li:hover {
    border-bottom: 6px solid aliceblue;
    line-height: 4rem;
}

.logo {
    display: inline-block;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 700;
    list-style: 24px;
    padding: 10px;
}

.front-navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 24px;
    color: aliceblue;
    line-height: 24px;
    padding: 10px;
    font-weight: 900;
}

.front-navbar-toggle:hover {
    background-color: #092467;
    color: white;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.navbar-toggle {
    background-color: #092467;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding-left: 9px;
    padding-top: 6px;
}

.navbar-toggle:hover {
    background-color: black;
    -webkit-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.show {
    display: block;
}

.active {
    border-bottom: 6px solid aliceblue;
    line-height: 4rem;
}

@media screen and (min-width: 768px) {
    .front-navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
    }
    .front-main-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 0;
    }
    .front-main-nav {
        padding-right: 20px;
    }
    .front-main-nav li {
        margin: 0;
        padding: 0;
    }
    .nav-link {
        padding: 10px 10px;
    }
    .logo {
        margin-top: 0;
        padding: 0;
    }
    .front-navbar-toggle {
        display: none;
    }
    .logo:hover, .nav-link:hover {
        color: #6193c5;
    }
}

/* banner start */

/* @media screen and (min-width: 768px) { */

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 570px;
    background: #092467;
}

.banner__image {
    position: relative;
    width: 100%;
}

.banner__image img {
    width: 100%;
    height: 100%;
    opacity: 0.90;
}

.banner__text {
    position: absolute;
    color: white;
    max-width: 700px;
    margin-top: 175px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

.banner__text h1 {
    font-size: 25px;
    padding: 0 15px;
}

.banner__text p {
    font-size: 15px;
    padding: 0 10px;
}

.banner__text .buttons__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0 20px;
    height: 100px;
}

.buttons__wrapper .btn {
    padding-left: 90px;
    padding-right: 90px;
    border-radius: 4px;
    background: #e7edf5;
    color: black;
    border-color: #c3cad3;
    margin: 5px;
    transition: all 0.2s ease;
}

.buttons__wrapper .btn:hover {
    padding-left: 60px;
    padding-right: 60px;
    cursor: pointer;
}

.buttons__wrapper .btn:nth-child(2) {
    background: #e32c2c;
    color: rgb(241, 240, 240);
    border-color: #e32c2c;
}

@media screen and (min-width: 480px) {
    .banner {
        height: 678px;
    }
    .banner__text {
        margin-top: 20px;
    }
    .banner__image {
        padding-top: 190px;
    }
    .banner__text h1 {
        font-size: 35px;
    }
    .banner__text p {
        font-size: 20px;
        padding: 0 40px;
    }
    .banner__text .buttons__wrapper {
        display: block;
        margin-top: 0;
    }
    .buttons__wrapper .btn {
        padding-left: 45px;
        padding-right: 45px;
    }
}

@media screen and (min-width: 768px) {
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 765px;
        background: #092467;
    }
    .banner__image {
        padding-top: 140px;
    }
    .banner__image img {
        width: 100%;
        height: 100%;
        opacity: 0.90;
    }
    .banner__text {
        position: absolute;
        color: white;
        max-width: 1110px;
        margin-top: 60px;
        text-align: center;
        -webkit-font-smoothing: antialiased;
    }
    .banner__text h1 {
        font-size: 40px;
    }
    .banner__text p {
        font-size: 25px;
    }
    .buttons__wrapper .btn {
        padding-left: 90px;
        padding-right: 90px;
    }
    .buttons__wrapper .btn:hover {
        padding-left: 60px;
        padding-right: 60px;
    }
    .buttons__wrapper .btn:nth-child(2) {
        background: #e32c2c;
        color: rgb(241, 240, 240);
        border-color: #e32c2c;
    }
}

@media screen and (min-width: 980px) {
    .banner__image {
        padding-top: 80px;
        position: relative;
        width: 100%;
    }
    .banner__text h1 {
        font-size: 45px;
    }
    .banner__text p {
        font-size: 27px;
    }
}

/* sign up start */

#signup {
    padding-top: 80px;
    height: 1090px;
}

.main__wrapper {
    width: 60%;
}

.card__wrapper {
    position: absolute;
    display: block;
    width: 55%;
    height: 1000px;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23070707' fill-opacity='0.01' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
    display: flex;
    border-radius: 7px;
}

.card__wrapper .benefit {
    position: relative;
    width: 50%;
    color: #092467;
    padding: 60px 40px;
}

.benefit .free__account, .benefit .post__ad, .benefit .connect__with__buyers {
    padding-bottom: 30px;
}

.signup__card {
    position: relative;
    top: 18px;
    left: 30px;
    width: 100%;
    max-width: 400px;
    height: 1000px;
    background: #092467;
    border-radius: 7px;
    color: white;
}

.signup__card label {
    display: block;
    -webkit-font-smoothing: antialiased;
    text-transform: capitalize;
    width: 80%;
}

.signup__card input[type="text"], .signup__card input[type="password"] {
    width: 100%;
    height: 40px;
    border: none;
    margin-top: 5px;
    margin-bottom: 13px;
    padding-left: 10px;
    border-radius: 2px;
    font-size: inherit;
    transition: all 0.2s;
}

.signup__card input[type="text"]:focus, input[type="password"]:focus {
    padding: 0 10px;
}

.signup__card button {
    cursor: pointer;
    width: 82.5%;
    height: 40px;
    border: none;
    background: #e7edf5;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
    margin-top: 45px;
}

.signup__card p.acknowledge {
    padding: 10px 50px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
}

p.acknowledge a {
    color: red;
}

label em {
    color: red;
    font-size: 18px;
}

@media only screen and (max-width: 920px) {
    .main__wrapper {
        width: 80%;
    }
    .card__wrapper {
        position: inherit;
        display: block;
        width: 100%;
        height: 1000px;
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%23070707' fill-opacity='0.01' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
        display: flex;
        border-radius: 7px;
    }
}

@media only screen and (max-width: 768px) {
    .card__wrapper .benefit {
        display: none;
    }
    .card__wrapper {
        padding: 10px 5px;
    }
    .signup__card {
        margin: 0 auto;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        max-width: 400px;
        height: 1000px;
        background: #092467;
        border-radius: 7px;
        color: white;
    }
}

/* login start */

#login {
    padding-top: 80px;
    height: 690px;
}

.logo__title {
    padding: 30px 15px;
}

.login__card {
    width: 100%;
    max-width: 450px;
    height: 380px;
    background: #092467;
    border-radius: 8px;
    color: white;
}

.login__card input[type="text"], .login__card input[type="password"] {
    width: 80%;
    height: 40px;
    border: none;
    margin-bottom: 13px;
    padding-left: 10px;
    border-radius: 4px;
    font-size: inherit;
    transition: all 0.2s ease-in-out;
}

.login__card input[type="text"]:focus, input[type="password"]:focus {
    padding: 0 10px;
}

.login__card button {
    width: 82.5%;
    height: 40px;
    border: none;
    background: #e7edf5;
    border-radius: 4px;
    transition: all 0.2s;
    margin-top: 10px;
}

button:hover {
    opacity: 0.85;
}

.forgot__password {
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .login__card {
        width: 50%;
        min-width: 280px;
        height: 320px;
    }
}

@media only screen and (max-width: 320px) {
    .login__card {
        width: 80%;
        min-width: 100px;
        font-size: 13px;
    }
}

/* post ad start */

#post__ad {
    padding-top: 80px;
    height: 690px;
}

#post__ad .card__wrapper {
    height: 600px;
}

#post__ad .post__ad__left, #post__ad .post__ad__right {
    width: 50%;
    padding: 30px;
}

.post__ad__left input[type="text"], .post__ad__right input[type="text"], .post__ad__left select, .post__ad__right select {
    width: 95%;
    height: 40px;
    border: 1px solid #092467;
    margin-top: 5px;
    margin-bottom: 13px;
    padding-left: 10px;
    border-radius: 2px;
    font-size: inherit;
    transition: all 0.2s;
    color: #092467;
}

.post__ad__right textarea {
    border: 1px solid #092467;
    margin-top: 5px;
    margin-bottom: 13px;
    padding-left: 10px;
    border-radius: 2px;
    font-size: inherit;
    transition: all 0.2s;
    color: #092467;
}

.post__ad__left select, .post__ad__right select {
    width: 100%;
}

.uploader__wrapper {
    padding-top: 30px;
    width: 100%;
}

.uploader {
    position: relative;
    display: flex;
    justify-content: center;
}

.uploader img {
    border: none;
    vertical-align: middle;
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.uploader .photo__input__label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}

.uploader .image__select {
    height: 136px;
    width: 136px;
    display: none;
}

@media only screen and (max-width: 1200px) {
    #post__ad .card__wrapper {
        width: 65%;
    }
}

@media only screen and (max-width: 920px) {
    #post__ad .main__wrapper {
        width: 60%;
    }
    #post__ad .card__wrapper {
        width: 100%;
        flex-direction: column;
        height: inherit;
        align-items: center;
    }
    #post__ad {
        height: 1025px;
    }
    #post__ad .post__ad__left, #post__ad .post__ad__right {
        width: 80%;
        padding: 30px;
    }
    .post__ad__right textarea {
        width: 95%;
    }
    .uploader img {
        width: 40%;
        width: 40%;
    }
}

@media only screen and (max-width: 480px) {
    #post__ad .main__wrapper {
        width: 90%;
    }
}

/* all cars start */

.all__cars {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    margin: 0 auto;
}

.search__sort {
    width: 100%;
    display: flex;
    padding: 40px 0;
}

.search__sort .search {
    width: 20%
}

.search__sort .state__make {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-grow: 1
}

.search__sort .state__make .state, .search__sort .state__make .make {
    flex-grow: 1;
}

.search__sort .price__filter {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.search__sort .price__filter .price, .search__sort .price__filter .go {
    flex-grow: 1;
}

.search__sort .search {
    width: 40%;
    text-align: center;
}

.search__sort .price, .search__sort .make, .search__sort .state, .search__sort .go {
    width: 15%;
    text-align: center;
}

.search__sort input[type="text"], .search__sort select, .search__sort button {
    width: 85%;
    height: 40px;
    border: 1px solid #092467;
    margin-top: 5px;
    margin-bottom: 13px;
    padding-left: 10px;
    border-radius: 2px;
    font-size: inherit;
    transition: all 0.2s;
    color: #092467;
}

.search__sort select {
    height: 45px;
}

.search__sort button {
    background: #092467;
    border-radius: 6px;
    color: white;
    height: 45px;
}

.all__cars__grid {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.all__cars__grid .grid {
    margin-bottom: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.grid .post {
    width: 300px;
    height: 300px;
    background: white;
    display: flex;
    flex-direction: column;
    margin: 5px;
    transition: all 1s
}

.grid .post:hover {
    transform: scale(1.1)
}

.grid .post a {
    text-decoration: none;
}

.grid .post img {
    width: 100%;
    flex-grow: 1;
}

.grid .post .details {
    padding: 10px;
    text-align: center;
}

.grid .post .details h2, .grid .post .details em {
    margin: 0;
}

.grid .actions {
    border-top: 1px solid gray;
    padding: 5px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .search__sort {
        flex-direction: column
    }
    .search__sort .search {
        width: 100%;
    }
    .search__sort .state__make {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .search__sort .state__make .state, .search__sort .state__make .make {
        flex-grow: 1;
    }
    .search__sort .price__filter {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .search__sort .price__filter .price .search__sort .price__filter .filter {
        flex-grow: 1;
    }
    .search__sort input[type="text"], .search__sort select, .search__sort button {
        width: 90%
    }
    .search__sort .price, .search__sort .make, .search__sort .state, .search__sort .go {
        width: 95%;
    }
}

/* profile start*/

.profile {
    margin: 0 auto;
    display: flex;
    width: 90%;
    padding: 40px;
    justify-content: space-between;
}

.profile .aside {
    width: 25%;
}

.profile .aside .avater__card {
    background: white;
    width: 80%;
    margin: 0 auto;
    height: 245px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avater__card .avater {
    background: gainsboro;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: relative;
}

.avater__card .avater img {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 60%;
}

.avater__card .name {
    padding-top: 20px;
}

.profile .main {
    width: 78%;
}

.profile .main .grid {
    width: 99%;
    height: 240px;
    background: white;
    margin: 5px 5px;
    border-radius: 5px;
    display: flex;
}

.main .grid .grid__image {
    width: 25%;
}

.grid__image img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.main .grid .grid__description {
    width: 75%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.grid__description .text {
    height: 85%;
    border-bottom: 1px solid gainsboro;
}

.grid__description .text li strong {
    color: #092467;
}

.grid__description .text ul {
    list-style-type: none;
    padding: 0 5px;
}

.grid__description .text li .price {
    color: red;
}

.grid__description .actions {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid__description .actions a {
    color: #092467;
}

.grid__description .actions .sold {
    color: red !important;
}

@media only screen and (max-width: 1200px) {
    .profile {
        width: 95%;
        padding: 40px 0;
    }
}

@media only screen and (max-width: 920px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .profile .aside {
        width: 300px;
        margin-bottom: 20px;
    }
    .profile .main {
        width: 95%;
    }
    .profile .main .grid {
        flex-direction: column;
        height: inherit;
        padding-bottom: 15px;
    }
    .profile .main .grid .grid__image {
        width: 100%;
    }
    .main .grid .grid__description {
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .main .grid .grid__description .text {
        width: 80%;
        font-size: 17px !important;
    }
    .main .grid .grid__description .actions {
        padding-top: 15px;
    }
    .main .grid .grid__description .text .title {
        text-align: center;
    }
    .main .grid .grid__description .actions a {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 23px !important;
    }
    .main .grid .grid__description .actions a {
        margin: 0 20px;
    }
    .main .grid .grid__description .actions :nth-child(2), .main .grid .grid__description .actions :nth-child(3) {
        display: none;
    }
}

/* car start  */

.car {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    margin: 40px auto;
    justify-content: space-between;
}

.car hr {
    border: 1px solid white;
    margin: 4px 0;
}

.car .car__details {
    /* padding: 0 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
}

.car__details .main__image {
    padding: 0 6px;
}

.car__details .main__image img {
    width: 100%;
    height: 100%;
}

.car__details .extra__images {
    height: 200px;
    display: flex;
    justify-content: space-between;
    padding: 2px 6px;
}

.car__details .extra__images img {
    width: 24.8%;
}

.car__detail .header {
    text-align: justify;
    padding: 0 20px;
}

.car__detail .header h1 {
    margin: 15px 0 8px 0;
}

.car__detail .specs ul {
    list-style-type: none;
    padding: 0 20px;
}

.car__detail .specs ul li {
    padding-bottom: 3px;
}

.car__detail .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.car__detail .actions .buy {
    width: 100%;
    text-align: center;
}

.car__detail .actions .others {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}

.car__detail .actions button {
    background: #092467;
    border-radius: 6px;
    color: white;
    height: 45px;
    cursor: pointer;
}

.car__detail .actions .buy button {
    width: 300px;
}

.car__detail .actions .others button {
    width: 150px;
    height: 30px;
}

.car__detail .actions .others .fav {
    background: #5d9b00;
    margin: 0 2px;
}

.car__detail .actions .others .report {
    background: red;
    margin: 0 2px;
}

.car .seller__details {
    width: 100%;
}

.seller__details .details__card {
    /* width: 100%; */
    background: #092467;
    height: 550px;
    display: flex;
    flex-direction: column;
    color: white;
    margin: 0 6px;
}

.seller__details .details__card .price {
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seller__details .details__card .avater__card {
    height: 58%;
}

.seller__details .details__card .avater__card {
    width: 80%;
    margin: 0 auto;
    height: 245px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seller__details .details__card .avater__card .avater {
    background: gainsboro;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: relative;
}

.seller__details .details__card .avater__card .avater img {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 60%;
}

.seller__details .details__card .avater__card .name {
    padding-top: 20px;
}

.seller__details .details__card .actions {
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.seller__details .details__card .actions button {
    width: 70%;
    background: #092467;
    border-radius: 6px;
    color: white;
    height: 45px;
    cursor: pointer;
}

.seller__details .details__card .actions .show__contact {
    background: #5d9b00;
    margin: 0 2px;
}

.seller__details .details__card .actions .start__chat {
    background: red;
    margin: 0 2px;
}

.seller__details .details__card .actions .leave__feedback {
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 580px) {
    .car__details .extra__images {
        flex-direction: column;
        width: 100%;
        height: inherit;
    }
    .car__details .extra__images img {
        width: 80%;
        margin: 5px auto;
    }
}

@media screen and (min-width: 680px) {
    .car {
        width: 80%;
        flex-direction: row;
    }
    .car .car__details {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    .car .seller__details {
        width: 28%;
    }
    .car__detail .actions .others {
        justify-content: flex-end;
    }
    .car__detail .actions .buy {
        padding-left: 35px;
        text-align: left
    }
    .seller__details .details__card {
        width: 100%;
    }
    /* } */
    @media screen and (max-width: 980px) {
        .car {
            width: 95%;
            flex-direction: row;
        }
        .car .car__details {
            width: 65%
        }
        .car .seller__details {
            width: 35%;
        }
    }
    /* footer */
    .copyright {
        width: 100%;
        height: 50px;
        background: #d4dfed;
        border-top: 1px solid white;
        color: black;
        text-align: center;
        -webkit-font-smoothing: antialiased;
    }
}