.f-1{
    font-size: 1px;
  }
  .f-2{
    font-size: 2px;
  }
  .f-3{
    font-size: 3px;
  }
  .f-4{
    font-size: 4px;
  }
  .f-5{
    font-size: 5px;
  }
  .f-6{
    font-size: 6px;
  }
  .f-7{
    font-size: 7px;
  }
  .f-8{
    font-size: 8px;
  }
  .f-9{
    font-size: 9px;
  }
  .f-10{
    font-size: 10px;
  }
  .f-11{
    font-size: 11px;
  }
  .f-12{
    font-size: 12px;
  }
  .f-13{
    font-size: 13px;
  }
  .f-14{
    font-size: 14px;
  }
  .f-15{
    font-size: 15px;
  }
  .f-16{
    font-size: 16px;
  }
  .f-17{
    font-size: 17px;
  }
  .f-18{
    font-size: 18px;
  }
  .f-19{
    font-size: 19px;
  }
  .f-20{
    font-size: 20px;
  }
  .f-21{
    font-size: 21px;
  }
  .f-22{
    font-size: 22px;
  }
  .f-23{
    font-size: 23px;
  }
  .f-24{
    font-size: 24px;
  }
  .f-25{
    font-size: 25px;
  }
  .f-26{
    font-size: 26px;
  }
  .f-27{
    font-size: 27px;
  }
  .f-28{
    font-size: 28px;
  }
  .f-29{
    font-size: 29px;
  }
  .f-30{
    font-size: 30px;
  }
  .f-31{
    font-size: 31px;
  }
  .f-32{
    font-size: 32px;
  }
  .f-33{
    font-size: 33px;
  }
  .f-34{
    font-size: 34px;
  }
  .f-35{
    font-size: 35px;
  }
  .f-36{
    font-size: 36px;
  }
  .f-37{
    font-size: 37px;
  }
  .f-38{
    font-size: 38px;
  }
  .f-39{
    font-size: 39px;
  }
  .f-40{
    font-size: 40px;
  }
  .f-41{
    font-size: 41px;
  }
  .f-42{
    font-size: 42px;
  }
  .f-43{
    font-size: 43px;
  }
  .f-44{
    font-size: 44px;
  }
  .f-45{
    font-size: 45px;
  }
  .f-46{
    font-size: 46px;
  }
  .f-47{
    font-size: 47px;
  }
  .f-48{
    font-size: 48px;
  }
  .f-49{
    font-size: 49px;
  }
  .f-50{
    font-size: 50px;
  }
  .f-51{
    font-size: 51px;
  }
  .f-52{
    font-size: 52px;
  }
  .f-53{
    font-size: 53px;
  }
  .f-54{
    font-size: 54px;
  }
  .f-55{
    font-size: 55px;
  }
  .f-56{
    font-size: 56px;
  }
  .f-57{
    font-size: 57px;
  }
  .f-58{
    font-size: 58px;
  }
  .f-59{
    font-size: 59px;
  }
  .f-60{
    font-size: 60px;
  }
  .f-61{
    font-size: 61px;
  }
  .f-62{
    font-size: 62px;
  }
  .f-63{
    font-size: 63px;
  }
  .f-64{
    font-size: 64px;
  }
  .f-65{
    font-size: 65px;
  }
  .f-66{
    font-size: 66px;
  }
  .f-67{
    font-size: 67px;
  }
  .f-68{
    font-size: 68px;
  }
  .f-69{
    font-size: 69px;
  }
  .f-70{
    font-size: 70px;
  }
  .f-71{
    font-size: 71px;
  }
  .f-72{
    font-size: 72px;
  }
  .f-73{
    font-size: 73px;
  }
  .f-74{
    font-size: 74px;
  }
  .f-75{
    font-size: 75px;
  }
  .f-76{
    font-size: 76px;
  }
  .f-77{
    font-size: 77px;
  }
  .f-78{
    font-size: 78px;
  }
  .f-79{
    font-size: 79px;
  }
  .f-80{
    font-size: 80px;
  }
  .f-81{
    font-size: 81px;
  }
  .f-82{
    font-size: 82px;
  }
  .f-83{
    font-size: 83px;
  }
  .f-84{
    font-size: 84px;
  }
  .f-85{
    font-size: 85px;
  }
  .f-86{
    font-size: 86px;
  }
  .f-87{
    font-size: 87px;
  }
  .f-88{
    font-size: 88px;
  }
  .f-89{
    font-size: 89px;
  }
  .f-90{
    font-size: 90px;
  }
  .f-91{
    font-size: 91px;
  }
  .f-92{
    font-size: 92px;
  }
  .f-93{
    font-size: 93px;
  }
  .f-94{
    font-size: 94px;
  }
  .f-95{
    font-size: 95px;
  }
  .f-96{
    font-size: 96px;
  }
  .f-97{
    font-size: 97px;
  }
  .f-98{
    font-size: 98px;
  }
  .f-99{
    font-size: 99px;
  }
  .f-100{
    font-size: 100px;
  }
  
  